<include file="Base:header"/>

      <div class="main-content">

        <div class="breadcrumbs" id="breadcrumbs">

          <script type="text/javascript">try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}</script>

          <ul class="breadcrumb">

            <li>

              <i class="icon-home home-icon"></i>

              <a href="__APP__">首页</a>

            </li>

            <li>商户查询</li>

          </ul>

        </div>

        <div class="page-content">

          <div class="page-header">

            <h1>商户查询</h1>

          </div>

          <div class="row">

            <div class="col-xs-12 sx-search">

              <form action="" method="post" role="form" onsubmit="return check();">

                

                <div class="col-md-6 col-xs-12 mr_mab">
                  <div class="form-group">
                    <label for="sx-8" class="control-label col-sm-4">商户用户名:</label>
                    <div class="col-sm-7">
                      <input type="text" id="CustomersName" class="form-control" placeholder="商户用户名">
                    </div>
                  </div>
                </div>
				<div class="col-md-6 col-xs-12 mr_mab">
                  <div class="form-group">
                    <label for="sx-8" class="control-label col-sm-4">商户名称:</label>
                    <div class="col-sm-7">
                      <input type="text" id="CustomersTrueName" class="form-control" placeholder="商户名称">
                    </div>
                  </div>
                </div>
                
				<div class="clearfix"></div>

                <div class="col-md-12 col-xs-12">
                  <div class="form-group txrimar">
                      <button class="btn btn-primary search"><i class="icon-search"></i>查询</button>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">

                  <div class="table-header">查询结果</div>

                  <div class="col-xs-12">

                    <div class="table-responsive">

                      <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <thead>

                          <tr>

                            <th>商户号</th>

                            <th>商户用户名</th>

                            <th>商户名称</th>

                            <th>联系电话</th>

                            <th>地址</th>

                            <th>商户类型</th>

                            <th>注册时间</th>

                            <th>操作</th>

                          </tr>

                        </thead>

                        <tbody id = "info">

                          

                        </tbody>

                      </table>

											<div class="page_new">
                                                <input type = "hidden" id = "totalCount" value= "">
                                                 <a id="prev">上一页</a>  <a id = "next">下一页</a> <a id = "first">最前页</a> <a id = "last">最末页</a>
                                                <select id = "SelectNo">
                                                    
                                                </select>
                                                <span>总 <label id = "TotalCount"></label> 条</span> <span>分为 <label id = "TotalPage"></label> 页</span> <span>当前第 <label id ="NowPage">1</label> 页</span><input type= "hidden" id= "PageSize" value=10>
                                            </div>

                    </div>

                  </div>

                </div>

              </form>

            </div>

          </div>

        </div>

      </div>

    </div>

	<div class="pricing-box2">
      <div class="widget-box">
        <div class="widget-header header-color-red3">
          <h5 class="bigger lighter">商户详情</h5>
        </div>
        <div class="widget-body">
          <div class="widget-main">
              <div class="col-md-12 form-group">
                  <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label>用户名</label>
                        <div class="over">
                          <input type="text" class="form-control" disabled name="sx_name" id="sx_name" value ="" placeholder="用户名" value="13866447856" />        
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label>用户身份</label>
                        <div class="over">
                          <input type="text" class="form-control" disabled name="identity" id="identity" value ="" placeholder="服务商" />        
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label>联系电话</label>
                        <div class="over">
                          <input type="text" class="form-control" disabled name="sx_tel" id="sx_tel" value ="" placeholder="联系电话" value="13866447856" />        
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label>真实姓名</label>
                        <div class="over">
                          <input type="text" class="form-control" disabled name="sx_zsxm" id="sx_zsxm" value ="" placeholder="真实姓名" />        
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label>邮件地址</label>
                        <div class="over">
                          <input type="text" class="form-control" disabled name="email" id="email" value ="" placeholder="邮件地址" />        
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label>传真</label>
                        <div class="over">
                          <input type="text" class="form-control" disabled name="sx_Fax" id="sx_Fax" value ="" placeholder="传真" />        
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label>联系地址</label>
                        <div class="over">
                          <input type="text" class="form-control" disabled name="sx_address" id="sx_address" value ="" placeholder="联系地址" />        
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label>上级员工</label>
                        <div class="over">
                          <input type="text" class="form-control" disabled name="email" id="TopStaffId" value ="" placeholder="上级员工ID" />        
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label>注册时间</label>
                        <div class="over">
                          <input type="text" class="form-control" disabled name="time" id="time" value ="" placeholder="注册时间" />        
                        </div>
                      </div>
                    </div>
                  </div>
				  <div class="clearfix"></div>
                  <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label>上级费率</label>
                        <div class="over">
                          <input type="text" class="form-control" disabled name="" id="user_rate" value ="" placeholder="商户费率" />        
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label>商户费率</label>
                        <div class="over">
                          <input type="text" class="form-control" disabled name="" id="rate" value ="" placeholder="上级费率" />        
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

            </form>

          </div>
          <div class="refund_box">
            <a href="#" class="btn btn-grey btn-close">
              <span>关闭</span>
            </a>
          </div>
        </div>
      </div>
    </div>






<!-- 2016/10/12 14:35:37 -->
<div class="pricing-box2_rate">
      <div class="widget-box">
        <div class="widget-header header-color-red3">
          <h5 class="bigger lighter">修改费率</h5>
        </div>
        <div class="widget-body">
          <div class="widget-main">
              <div class="col-md-12 form-group">
                  <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label>费率</label>
                        <div class="over">
                          <input type="text" class="form-control" name="rate" id="rates" value=""  placeholder="0.999" value="" />
						  <div class="help-block rate_err">费率格式不正确</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  

                </div>
          </div>
          <div class="refund_box">
			<a href="#" class="btn btn-danger update">
              <span>修改</span>
            </a>
            <a href="#" class="btn btn-grey btn-close">
              <span>关闭</span>
            </a>
          </div>
        </div>
      </div>
    </div>
<!-- 2016/10/12 14:35:41 -->


<div class="pricing-box3" style="width: 800px; margin-left: -400px;">

      <div class="widget-box">

        <div class="widget-header header-color-red3">

          <h5 class="bigger lighter">商户调拨</h5>

        </div>

        <div class="widget-body">

          <div class="widget-main">

            <div class="per_ass">

              <div class="left">

                <h3>员工列表</h3>

                <div class="service_list">
				<input type = "hidden" id = "customerid" value= "">
				<input type = "hidden" id = "cc" value= "">
                  <ul class="datalist" id = "servicelist">


                  </ul>

                </div>

                <div class="select_all_s">

                  <a id="ckall" class="btn btn-default btn-xs" href="javascript:void(0);">全选</a>

                </div>

              </div>

              <div class="btns_box">

                <p>

                  <span id="add" class="btn btn-success">

                    添加

                    <i class="glyphicon glyphicon-chevron-right"></i>

                  </span>

                </p>

                <p>

                  <span id="del" class="btn btn-danger">

                    <i class="glyphicon glyphicon-chevron-left"></i>

                    移除

                  </span>

                </p>

              </div>

              <div class="right">

                <h3>调拨员工</h3>

                <div class="staff_list">

                  <ul class="datalist" id = "stafflist">
                  </ul>

                </div>

                <div class="select_all_t">

                  <a id="ckall2" class="btn btn-default btn-xs" href="javascript:void(0);">全选</a>

                </div>

              </div>

            </div>



          </div>

          <div class="refund_box">

            <a href="#" class="btn btn-primary set">

              <i class="icon-cog bigger-110"></i>

              <span>保存设置</span>

            </a>

            <a href="#" class="btn btn-grey btn-refund">

              <span>取消</span>

            </a>

          </div>

        </div>

      </div>

    </div>

    <div class="bg_black"></div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">

      <i class="icon-double-angle-up icon-only bigger-110"></i>

    </a>

  </div>

<include file="Base:jsfile"/>

  <script type="text/javascript">

        jQuery(function($) {

            var oTable1 = $('#sample-table-2').dataTable( {

            "aoColumns": [

                { "bSortable": false },

                null, null,null, null, null,

              { "bSortable": false }

            ]

        });

        

        $('table th input:checkbox').on('click' , function(){

          var that = this;

          $(this).closest('table').find('tr > td:first-child input:checkbox')

          .each(function(){

            this.checked = that.checked;

            $(this).closest('tr').toggleClass('selected');

          });

        });

      

        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

        function tooltip_placement(context, source) {

          var $source = $(source);

          var $parent = $source.closest('table')

          var off1 = $parent.offset();

          var w1 = $parent.width();

          var off2 = $source.offset();

          var w2 = $source.width();

          if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';

          return 'left';

        }

        })

    </script>

  <script>

    var reg_phone = /^0?1[3|4|5|8][0-9]\d{8}$/;

    var reg_email = /.+@.+\.[a-zA-Z]{2,4}$/;

    $("#sx-2").blur(function(){

      if(reg_email.test($("#sx-2").val()) || $("#sx-2").val()==""){

        $("#email").hide();

      }

      else{

        $("#email").show();

      }

    }).focus(function(){

      $(this).triggerHandler("blur");

    }).keyup(function(){

      $(this).triggerHandler("blur");

    });

    $("#sx-3").blur(function(){

      if(reg_phone.test($("#sx-3").val()) || $("#sx-3").val()==""){

        $("#phone").hide();

      }

      else{

        $("#phone").show();

      }

    }).focus(function(){

      $(this).triggerHandler("blur");

    }).keyup(function(){

      $(this).triggerHandler("blur");

    });    

    </script>

  <script type="text/javascript">

    $('.form_datetime').datetimepicker({

        //language:  'fr',

        weekStart: 1,

        todayBtn:  1,

        autoclose: 1,

        todayHighlight: 1,

        startView: 2,

        forceParse: 0,

        showMeridian: 1

    });

    $('.form_date').datetimepicker({

        language:  'fr',

        weekStart: 1,

        todayBtn:  1,

        autoclose: 1,

        todayHighlight: 1,

        startView: 2,

        minView: 2,

        forceParse: 0

    });



</script>
<script>


	


</script>

<script>

		function Business_Detail(SysNo){
            $(".pricing-box2").show(300);
            $(".bg_black").show();
			$.ajax({
                    type : "post",
                    url : "__APP__/Business/business_detail",
                    data : {
                        SysNo : SysNo,
                    },
                    async:false,
                    success : function (data){
						$('#sx_name').val(data.customer);
						$('#identity').val("商户");
						$('#sx_tel').val(data.phone);
						$('#sx_zsxm').val(data.CustomerName);
						$('#TopStaffId').val(data.TopStaffId);
						$('#sx_Fax').val(data.Fax);
						$('#sx_address').val(data.DwellAddress);

						$('#email').val(data.Email);
						$('#time').val(data.RegisterTime);
						$('#user_rate').val(data.user_rate);
						$('#rate').val(data.rate);
						

                    },
                    error : function (){
                        alert( 'ajax error!' );
                    }

                    })

        }
	
//		2016/10/12 14:51:06
		function UpdateRate(SysNo){
			$(".rate_err").hide();
			$(".pricing-box2_rate").show(300);
            $(".bg_black").show();
			$(".update").click(function(){
//			var small_num = /^[0]+([.]{1}[0]{1}[0][0-8]{0,1})?$/;
			var small_num = /^[0](\.\d{1,3})?$/;
			var rates = $("#rates").val();
			if(small_num.test(rates)&rates!=0){
				$(".rate_err").hide();
			}else{
				$(".rate_err").show();
				return false;
			}
			$.ajax({
                    type : "post",
                    url : "__APP__/Business/customerrateupdate",
                    data : {
                        Rate :rates,
                        SysNo :SysNo


                    },
                    async:false,
                    success : function ( data ){
						if(data){
							alert("费率修改成功！");

						}else{
							alert("费率修改失败！");
						}
						location.reload();
                      
                    },
                    error : function (){
                        alert( '请检查网络!' );
                    }

            })


			
			})
		
		}


//		2016/10/12 14:51:06

        $(".btn-close").click(function(){
            $(".pricing-box2").hide(300);
            $(".pricing-box2_rate").hide(300);
            $(".bg_black").hide();
        })
	function infoview(PageNumber,PageSize){
			var CustomersName = $("#CustomersName").val();
			var CustomersTrueName = $.trim($("#CustomersTrueName").val());
			if(StaffSysNo!=0){
				var SystemUserSysNo = StaffSysNo;

			}
			var tt="";
			 if (this.ajaxRequest_ != undefined && this.ajaxRequest_.readyState < 4) {
						return false;
			}

			this.ajaxRequest_ =$.post("__APP__/Staff/servicequerycustomer",{CustomersName:CustomersName,CustomersTrueName:CustomersTrueName,SystemUserSysNo:SystemUserSysNo,PageNumber:PageNumber,PageSize:PageSize},function(data){ 
			if(data.totalCount>0){
			$.each(data.model, function(k, v) {
			
			if(v.CustomersType==0){
			CustomersType="服务商";
			}
			if(v.CustomersType==1){
			CustomersType="商户";
			}
			if(v.CustomersType==2){
			CustomersType="散户";
			}
			if(v.RegisterTime!=null){
			var timestamp3 = v.RegisterTime.substr(6,13);
			var newDate = new Date();
			newDate.setTime(timestamp3);
		var regtime = newDate.format('yyyy-MM-dd h:m:s')}
		
		else{
		regtime =" ";
		}
			<php>
			if( session('data')['CustomersType']==0&session('flag')==0){
			</php>
			if(StaffSysNo){
				tt += "<tr><td>"+v.SysNo+"</td><td>"+v.Customer+"</td><td>"+v.CustomerName+"</td><td>"+v.Phone+"</td><td>"+v.DwellAddress+"</td><td>"+CustomersType+"</td><td>"+regtime+"</td><td><a href=\"#\" onclick=\"OrderView('"+v.Customer+"')\" class=\"btn btn-danger btn-xs\">查看订单</a>&emsp;<a href=\"#\" onclick=\"ServieRateView('"+v.SysNo+"')\" class=\"btn btn-danger btn-xs\">商户费率订单</a>&emsp;<a class=\"btn btn-danger btn-xs detail\" onclick = \"Business_Detail("+v.SysNo+")\">商户详情</a>&emsp;<a onclick = \"TopRate('"+v.Customer+"',"+StaffSysNo+")\" class=\"btn btn-danger btn-xs\">上级费率订单</a>&emsp;<a href=\"javascript:void(0);\" onclick=\"role_assign("+v.SysNo+")\" id=\"tk-search\" class=\"btn btn-danger btn-xs\">调拨</a></td></tr>";
			}else{
				tt += "<tr><td>"+v.SysNo+"</td><td>"+v.Customer+"</td><td>"+v.CustomerName+"</td><td>"+v.Phone+"</td><td>"+v.DwellAddress+"</td><td>"+CustomersType+"</td><td>"+regtime+"</td><td><a href=\"#\" onclick=\"OrderView('"+v.Customer+"')\" class=\"btn btn-danger btn-xs\">查看订单</a>&emsp;<a href=\"#\" onclick=\"ServieRateView('"+v.SysNo+"')\" class=\"btn btn-danger btn-xs\">商户费率订单</a>&emsp;<a class=\"btn btn-danger btn-xs detail\" onclick = \"Business_Detail("+v.SysNo+")\">商户详情</a>&emsp;<a href=\"javascript:void(0);\" onclick=\"role_assign("+v.SysNo+")\" id=\"tk-search\" class=\"btn btn-danger btn-xs\">调拨</a></td></tr>";
			
			}
			<php>
			}else if(session('servicestoretype')==0&session('flag')==1){
			</php>
			tt += "<tr><td>"+v.SysNo+"</td><td>"+v.Customer+"</td><td>"+v.CustomerName+"</td><td>"+v.Phone+"</td><td>"+v.DwellAddress+"</td><td>"+CustomersType+"</td><td>"+regtime+"</td><td><a href=\"#\" onclick=\"OrderView('"+v.Customer+"')\" class=\"btn btn-danger btn-xs\">查看订单</a>&emsp;<a href=\"#\" onclick=\"RateView('"+v.Customer+"')\" class=\"btn btn-danger btn-xs\">上级费率订单</a>&emsp;<a class=\"btn btn-danger btn-xs detail\"  onclick = \"ServieRateView("+v.SysNo+")\">商户费率订单</a>&emsp;<a class=\"btn btn-danger btn-xs detail\" onclick = \"Business_Detail("+v.SysNo+")\">商户详情</a>&emsp;<a class=\"btn btn-danger btn-xs detail\" onclick = \"UpdateRate("+v.SysNo+")\">修改上级费率</a></td></tr>";
			<php>
			}
			</php>

			});
			

			$('#info').html(tt);
			$('#TotalCount').html(data.totalCount);
			TotalPage = Math.ceil(data.totalCount/PageSize);
			var ff ="";
			for (i=1;i<=TotalPage ;i++ )
			{
				ff+="<option value = \""+i+"\">"+i+"</option>";
			}
			$('#SelectNo').html(ff);
			$('#TotalPage').html(TotalPage);
			$('#PageNumber').html(PageNumber);
			$('#SelectNo').val(PageNumber+1);
			$('#NowPage').text(PageNumber+1);
			$(".page_new").show();
			}else{
			$('#info').html('');
			$(".page_new").hide();
			}

           }); 
	
	}

	var total,totalPage,pageStr; //总记录数，每页显示数，总页数
	$(".page_new").hide();
	var PageSize = $("#PageSize").val();
	var StaffSysNo = GetQueryString ("id");
	var Customer = GetQueryString ("Customer");
	if(StaffSysNo){

	infoview(0,PageSize);

	}
	
	infoview(0,PageSize);
	$(".search").click(function(){

	infoview(0,PageSize);


	})
	function check(){

		infoview(0,PageSize);
    return false;


	}

	function role_assign(id){
		$(".pricing-box3").show(300);
		$(".bg_black").show();
		$.ajax({
            type: "post",
            url: "__APP__/Staff/stafflist",
            data: {
				id:id,
				PageSize:100
            },
            async: false,
            success: function(data) {
					var ll = "",tt='';
					$.each(data.model, function(k, v) {
					ll+="<li><input class=\"cy_a"+v.SysNO+"\" name=\"service[]\" type=\"checkbox\" value = \""+v.SysNO+"\"/><label for=\"cy_a1\">"+v.DisplayName+"</label></li>";
					});

					tt+="<li><input class=\"cy_a"+data.info.topid+"\" name=\"service[]\" type=\"checkbox\" value = \""+data.info.topid+"\"/><label for=\"cy_a1\">"+data.info.topname+"</label></li>";
					$("#servicelist").html(ll);
					$("#stafflist").html(tt);
					$("#customerid").val(id);
				   },
            error: function() {}

        })


	}
	
	$(".btn-refund").click(function(){

                $(".pricing-box3").hide(300);

                $(".bg_black").hide();

    })

	function ckbg(){

            $(":checkbox").parent().removeClass();

            $(":checkbox:checked").parent().addClass('activecolor');

    };
	 $(document).ready(function(){

            $(":checkbox").click(function(){

                ckbg();

            });

            $("#add").click(function(){
				var array  =  [];
				var staf = $('#stafflist li').find(':checkbox'); 
				

                var sl = $(".service_list :checkbox:checked");
				if(sl.length>1){return false;}
				for (var i = 0; i < staf.length; i++) {
				array.push("."+staf.eq(i).attr("class")); 
				}
				$("#cc").val(array);
                var temp_list = $("#cc").val();
                if (temp_list.length==0) {
                    sl.attr("checked", false).parent().clone(true).appendTo($(".staff_list .datalist"));
                }else{
                }
                ckbg();
            });
            // 移除

            $("#del").click(function(){

                var tl = $(".staff_list :checkbox:checked");

                tl.attr("checked", false).parent().remove();

                ckbg(); 

            });

            // 全选

            $("#ckall").click(function(){

                $(".service_list :checkbox").each(function(){

                    this.checked = !this.checked;

                });

                ckbg();

            });

            $("#ckall2").click(function(){

                $(".staff_list :checkbox").each(function(){

                    this.checked = !this.checked;

                });

                ckbg();

            });

        })

	$(".set").click(function(){
		var customerid = $('#customerid').val();
		var staffid = $('#stafflist li').find(':checkbox').val();
		$.ajax({
            type: "post",
            url: "__APP__/Business/customeruserupdate",
            data: {
				customerid:customerid,
				staffid:staffid
            },
            async: false,
            success: function(data) {
				if(data){
				alert('调拨成功');
				$(".pricing-box3").hide(300);
                $(".bg_black").hide();
				}else{
				alert('调拨失败');
				$(".pricing-box3").hide(300);
                $(".bg_black").hide();
				}
					
			},
            error: function() {}

        })
	
	
	})


	function OrderView(Customer){
	window.location.href="__APP__/Order/order_search?Customer="+Customer;
	
	}
	function RateView(Customer){
    	window.location.href="__APP__/OrderFund/orderfund?Customer="+Customer;
    }
	function TopRate(Customer,TopSysNo){
    	window.location.href="__APP__/OrderFund/orderfund?Customer="+Customer+"&TopSysNo="+TopSysNo;
    }
	function ServieRateView(SysNo){
    	window.location.href="__APP__/OrderFund/orderfund?SysNo="+SysNo;
    }
	function businessregister(SysNo){
        window.location.href="__APP__/Business/business_register?SystemUserSysNo="+SysNo;
    }


	
	
	
</script>



<include file="Base:footer"/>