<include file="Base:header"/>
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check(
                    'breadcrumbs'
                    ,'fixed' )
            } catch ( e ) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="__APP__">首页</a>
            </li>
            <li>支付宝-商户服务商配置表</li>
        </ul>
    </div>

        <div class="page-content">
          <div class="page-header">
            <h1>支付宝-商户服务商配置表</h1>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="row-fluid">
                <div class="span12">
                  <div class="widget-box">
                    <div class="widget-header widget-header-blue widget-header-flat">
                      <h4 class="lighter">填写详细资料</h4>
                    </div>
                    <div class="widget-body">
                      <div class="widget-main">
                        <div class="step-content row-fluid position-relative" id="step-container">
                          <div class="step-pane active" id="step1">
                            <form class="form-horizontal" id="validation-form" method="post" action="__SELF__">
                              <div class="row">
                                <div class="col-md-12 form-group">
                                  <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                      <div class="col-xs-12">
                                        <label>APPID</label>
                                        <div class="over">
                                          <input type="text" class="form-control" name="sx_appid" id="sx_appid" placeholder=" " value="<{$data.AppID}>" />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                      <div class="col-xs-12">
                                        <label>商户ID</label>
                                        <div class="over">
                                          <input type="text" class="form-control" name="sx_shid" id="sx_shid" placeholder="商户ID" value="<{$data.PID}>" />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                      <div class="col-xs-12">
                                        <label>子商户ID</label>
                                        <div class="over">
                                          <input type="text" class="form-control" name="sx_zshid" id="sx_zshid" placeholder="子商户ID" value="<{$data.sub_PID}>" />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                      <div class="col-xs-12">
                                        <label>阿里公钥</label>
                                        <div class="over">
											<textarea id="sx_algy" name="sx_algy" class="form-control" cols="10" rows="6" placeholder="阿里公钥"><{$data.Alipay_public_key}></textarea>
                                          <!--<input type="text" class="form-control" name="sx_algy" id="sx_algy" placeholder="阿里公钥" value="<{$data.Alipay_public_key}>"/>-->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                      <div class="col-xs-12">
                                        <label>商户公钥</label>
                                        <div class="over">
										<textarea id="sx_shgy" name="sx_shgy" class="form-control" cols="10" rows="6" placeholder="商户公钥"><{$data.Merchant_private_key}></textarea>
                                          <!--<input type="text" class="form-control" name="sx_shgysx_shgysx_shgy" id="sx_shgy" placeholder="商户公钥" value="<{$data.Merchant_public_key}>"/>-->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                      <div class="col-xs-12">
                                        <label>商户私钥</label>
                                        <div class="over">
										<textarea id="sx_shsy" name="sx_shsy" class="form-control" cols="10" rows="6" placeholder="商户私钥"><{$data.Merchant_private_key}></textarea>
                                          <!--<input type="text" class="form-control" name="sx_shsy" id="sx_shsy" placeholder="商户私钥" value="<{$data.Merchant_private_key}>"/>-->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
								<div class="clearfix"></div>
                                  <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                      <div class="col-xs-12 row">
                                        <div class="over">
                                          <div class="radio">
                                            <label>
                                              <input name="sh_type" id = "sh_type" value = 0 type="radio" class="ace"<php>if($data['Type']==0){echo "checked =true";}</php>>           
                                              <span class="lbl"> ISV</span>
                                            </label>
                                            &emsp;
                                            <label>
                                              <input name="sh_type" id = "sh_type" value = 1 type="radio" class="ace"<php>if($data['Type']==1){echo "checked =true";}</php>>        
                                              <span class="lbl"> 商户</span>
                                            </label>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>


                                </div>
                              </div>

								


                              <div class="form-group">
                                <div class="col-xs-12">
                                  <button type="submit" class="btn btn-primary">
                                    <i class="icon-ok bigger-110"></i>
                                    确认
                                  </button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<include file="Base:jsfile"/>
<script type="text/javascript">
      jQuery(function($) {    
      
        $('#validation-form').validate({
          errorElement: 'div',
          errorClass: 'help-block',
          focusInvalid: false,
          rules: {
            sx_appid: {
              required: true,
              username:true
            },
            sx_shid: {
              required: true,
              username:true
            },
            sx_zshid: {
              username:true
            },
            sx_algy: {
              required: true
              //config:true
            },
            sx_shgy: {
              //required: true,
             // config:true
            },
            sx_shsy: {
              required: true
             // config:true
            },
          },
      
          messages: {
            sx_appid: {
              required: "APPID不能为空."
            },
            sx_shid: {
              required: "商户ID不能为空."
            },
            sx_zshid: {
              required: "子商户ID不能为空."
            },
            sx_algy: {
              required: "阿里公钥不能为空."
            },
            sx_shgy: {
              required: "商户公钥不能为空."
            },
            sx_shsy: {
              required: "商户私钥不能为空."
            },
            subscription: "Please choose at least one option",
            gender: "Please choose gender",
            agree: "Please accept our policy"
          },
      
          invalidHandler: function (event, validator) { //display error alert on form submit   
            $('.alert-danger', $('.login-form')).show();
          },
      
          highlight: function (e) {
            $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
          },
      
          success: function (e) {
            $(e).closest('.form-group').removeClass('has-error').addClass('has-info');
            $(e).remove();
          },
      
          errorPlacement: function (error, element) {
            if(element.is(':checkbox') || element.is(':radio')) {
              var controls = element.closest('div[class*="col-"]');
              if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
              else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
            }
            else if(element.is('.select2')) {
              error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
            }
            else if(element.is('.chosen-select')) {
              error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
            }
            else error.insertAfter(element.parent());
          },
      
          submitHandler: function (form) {
            console.log("ok");
          $.ajax( {
            type : "post",
            url : "__SELF__",
            data : {
                sx_appid: $( "#sx_appid" ).val( ),
                sx_shid: $( "#sx_shid" ).val( ),
                sx_zshid: $( "#sx_zshid" ).val( ),
                sx_shsy: $( "#sx_shsy" ).val( ),//商户私钥
                sx_shgy : $( "#sx_shgy" ).val( ),//商户公钥
                sx_algy : $( "#sx_algy" ).val( ),//阿里公钥
                sh_type : $('input[name="sh_type"]:checked').val(),//阿里公钥
            },
          async:false,
        success : function ( data ){
            console.log( data );
            alert("配置成功!");
            },
        error : function (){
          alert( 'ajax error!' );
          }

} )
          },
          invalidHandler: function (form) {
            console.log("ok1");
          }
        });

      })
    </script>
    <script language="Javascript"> 
      $(function(){
        $(".click_pass").click(function(){
               var x = 1000000;
               var y = 1;
               var random = String.fromCharCode(Math.floor( Math.random() * 26) + "a".charCodeAt(0)).toUpperCase()+parseInt(Math.random() * (x - y + 1) + y)+String.fromCharCode(Math.floor( Math.random() * 26) + "a".charCodeAt(0));
               $(".random_pass").val(random);
          });
       })
    </script>
    <include file="Base:footer"/>
