  <include file="Base:header" /> 
  <div class="main-content"> 
   <div class="breadcrumbs" id="breadcrumbs"> 
    <script type="text/javascript">try {
                ace.settings.check(
                    'breadcrumbs'
                    ,'fixed' )
            } catch ( e ) {
            }</script> 
    <ul class="breadcrumb">

            <li>

                <i class="icon-home home-icon"></i>

                <a href="__APP__">首页</a>

            </li>

            <li>商户资料</li>

        </ul> 
   </div> 
   <div class="page-content"> 
    <div class="page-header"> 
     <h1>商户资料</h1> 
    </div> 
    <div class="row"> 
     <div class="col-xs-12"> 
      <div class="row-fluid"> 
       <div class="span12"> 
        <div class="widget-box"> 
         <div class="widget-header widget-header-blue widget-header-flat"> 
          <h4 class="lighter">填写详细资料</h4> 
         </div> 
         <div class="widget-body"> 
          <div class="widget-main"> 
           <div class="step-content row-fluid position-relative" id="step-container"> 
            <div class="step-pane active" id="step1"> 
             <form class="form-horizontal" id="validation-form" method="post" action="__SELF__"> 
              <div class="row"> 
               <div class="col-md-12 form-group"> 
                <div class="col-xs-12 col-md-4"> 
                 <div class="form-group"> 
                  <div class="col-xs-12"> 
                   <label>用户名</label> 
                   <div class="over"> 
                    <input type="text" class="form-control" disabled="" name="sx_name" id="sx_name" placeholder="用户名" value="<{$data.Customer}>" /> 
                   </div> 
                  </div> 
                 </div> 
                </div> 
                <div class="col-xs-12 col-md-4"> 
                 <div class="form-group"> 
                  <div class="col-xs-12"> 
                   <label>用户身份</label> 
                   <div class="over"> 
                    <switch name="Think.session.data.CustomersType"> 
                     <case value="0"> 
                      <input type="text" class="form-control" name="CustomersType" id="CustomersType" disabled="" placeholder="服务商" /> 
                     </case> 
                     <case value="1"> 
                      <input type="text" class="form-control" name="CustomersType" id="CustomersType" disabled="" placeholder="商户" /> 
                     </case> 
                     
                    </switch> 
                   </div> 
                  </div> 
                 </div> 
                </div> 
                <div class="col-xs-12 col-md-4"> 
                 <div class="form-group"> 
                  <div class="col-xs-12"> 
                   <label>联系电话</label> 
                   <div class="over"> 
                    <input type="text" class="form-control" id="sx_tel"  name="sx_tel" disabled="" value="<{$data.Phone}>" placeholder="联系电话" /> 
                   </div> 
                  </div> 
                 </div> 
                </div> 
                <div class="clearfix"></div> 
                  <!--<div class="col-xs-12 col-md-4">
                      <div class="form-group">
                          <div class="col-xs-12">
                              <label>密码</label>
                              <div class="input-group">
                                  <input type="text" name="sx_pass" class="form-control random_pass" placeholder="密码" />
                                  <span class="input-group-btn">
                                      <button class="btn btn-success click_pass" type="button">
                                          <i class="icon-key"></i>
                                          生成密码
                                      </button>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>--> 
                <div class="col-xs-12 col-md-4"> 
                 <div class="form-group"> 
                  <div class="col-xs-12"> 
                   <label>真实姓名</label> 
                   <div class="over"> 
                    <input type="text" class="form-control" name="sx_zsxm" id="sx_zsxm" value="<{$data.CustomerName}>" placeholder="真实姓名" /> 
                   </div> 
                  </div> 
                 </div> 
                </div> 
                <div class="col-xs-12 col-md-4"> 
                 <div class="form-group"> 
                  <div class="col-xs-12"> 
                   <label>邮件地址</label> 
                   <div class="over"> 
                    <input type="text" class="form-control" name="email" id="email" value="<{$data.Email}>" placeholder="邮件地址" /> 
                   </div> 
                  </div> 
                 </div> 
                </div>                 
               <!--  <div class="col-xs-12 col-md-4"> 
                 <div class="form-group"> 
                  <div class="col-xs-12"> 
                   <label>手机</label> 
                   <div class="over"> 
                    <input type="text" class="form-control" name="sx_phone" id="sx_phone" value="<{$data.CellPhone}>" placeholder="手机" /> 
                   </div> 
                  </div> 
                 </div> 
                </div>  -->
				
                 <div class="col-xs-12 col-md-4"> 
                 <div class="form-group"> 
                  <div class="col-xs-12"> 
                   <label>传真</label> 
                   <div class="over"> 
                    <input type="text" class="form-control" name="sx_Fax" id="sx_Fax" value="<{$data.Fax}>" placeholder="传真" /> 
                   </div> 
                  </div> 
                 </div> 
                </div> 
				 <div class="clearfix"></div>

				  <div class="col-md-4">
					<div class="form-group">
					  <div class="col-xs-12 mr_mab">
						<label>省份</label>
						<div class="over">
						  <select class="form-control" id="provinces" name="provinces">
							<option value="">请选择省份</option>
						  </select>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="form-group">
					  <div class="col-xs-12 mr_mab">
						<label>市</label>
						<div class="over">
						  <select class="form-control" id="citys" name="citys">
						  <volist name = 'City' id = "vo">
							<option value="<{$vo.region_id}>"><{$vo.region_name}></option>
						  </volist>
						  </select>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="form-group">
					  <div class="col-xs-12 mr_mab">
						<label>区</label>
						<div class="over">
						  <select class="form-control" id="countys" name="countys">
						  <volist name = 'Country' id = "vo">
							<option value="<{$vo.region_id}>"><{$vo.region_name}></option>
						  </volist>
						  </select>
						</div>
					  </div>
					</div>
				  </div>

				<div class="clearfix"></div>
                <div class="col-xs-12 col-md-4"> 
                 <div class="form-group"> 
                  <div class="col-xs-12"> 
                   <label>联系地址</label> 
                   <div class="over"> 
                    <input type="text" class="form-control" name="sx_address" id="sx_address" value="<{$DetailAddress}>" placeholder="联系地址" /> 
                   </div> 
                  </div> 
                 </div> 
                </div>                 
                <div class="col-xs-12 col-md-4"> 
                 <div class="form-group"> 
                  <div class="col-xs-12"> 
                   <label>商户费率</label> 
                   <div class="over"> 
                    <input type="text" class="form-control" name="sx_rate" id="sx_rate" value="<{$data.Rate}>" placeholder="商户费率" /> 
                   </div> 
                  </div> 
                 </div> 
                </div>                 

                <div class="clearfix"></div> 
               
                
               </div> 
              </div> 
              <div class="form-group"> 
               <div class="col-xs-12"> 
                <button type="submit" class="btn btn-primary"> <i class="icon-ok bigger-110"></i> 确认 </button> 
               </div> 
              </div> 
             </form> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div>   
  <include file="Base:jsfile" /> 
  <script type="text/javascript">
    jQuery( function ( $ ){


        $( '#validation-form' ).validate( {
            errorElement : 'div',
            errorClass : 'help-block',
            focusInvalid : false,
            rules : {
                sx_name : {
                    required : true
                },
                sx_pass : {
                    required : true
                },
                sx_zsxm : {
                    required : true,
                    chinese:true
                },
                sx_phone : {
                    required : true
                },
                sx_tel : {
                    required : true
                },
                 // sx_Fax : {
                 //     fax : true
                 // },
                sx_address : {
                  required:true   
                },
				 provinces:{
				  required:true
				},
				citys:{
				  required:true
				},
				countys:{
				  required:true
				},
                 dwellzip: {
                   zipcode : true
                },
                email : {
                   required : true,
                   email : true
                },
                sx_rate : {
                   ratenum : true
                }
            },
            messages : {
				sx_name : {
					required : "用户名不能为空."
				},
				sx_pass : {
					required : "密码不能为空."
				},
				sx_zsxm : {
					required : "真实姓名不能为空.",
					chinese:"输入正确的姓名"
				},
				sx_phone : {
					required : "手机不能为空."
				},
				sx_tel : {
					required : "联系电话不能为空."
				},
									   // sx_Fax : {
									   //     required : "传真不能为空."
									   // },
				sx_address : {
					required : "联系地址不能为空."
				},
				provinces:{
				required: "省级地址不能为空.",
				},
				citys:{
				required: "市级地址不能为空.",
				},
				countys:{
				required: "区级地址不能为空.",
				},
				email : {
				   required : "邮编不能为空.",
				   email : "请输入正确的邮箱地址."
				},
				sx_rate : {
				   ratenum :  "费率格式不正确."
				},
                subscription : "Please choose at least one option",
                gender : "Please choose gender",
                agree : "Please accept our policy"
            },
            invalidHandler : function ( event,
                validator ){ //display error alert on form submit   
                $( '.alert-danger',$(
                    '.login-form' ) ).show( );
            },
            highlight : function ( e ){
                $( e ).closest( '.form-group' ).
                    removeClass( 'has-info' ).addClass(
                    'has-error' );
            },
            success : function ( e ){
                $( e ).closest( '.form-group' ).
                    removeClass( 'has-error' ).
                    addClass( 'has-info' );
                $( e ).remove( );
            },
            errorPlacement : function ( error,
                element ){
                if ( element.is( ':checkbox' ) ||
                    element.is( ':radio' ) ) {
                    var controls = element.closest(
                        'div[class*="col-"]' );
                    if ( controls.find(
                        ':checkbox,:radio' ).length >
                        1 )
                        controls.append(
                            error );
                    else
                        error.insertAfter(
                            element.nextAll(
                                '.lbl:eq(0)' ).
                            eq(
                                0 ) );
                }
                else if ( element.is( '.select2' ) ) {
                    error.insertAfter(
                        element.siblings(
                            '[class*="select2-container"]:eq(0)' ) );
                }
                else if ( element.is(
                    '.chosen-select' ) ) {
                    error.insertAfter(
                        element.siblings(
                            '[class*="chosen-container"]:eq(0)' ) );
                }
                else
                    error.insertAfter(
                        element.parent( ) );
            },
            submitHandler : function ( form ){
//                                console.log( "ok" );
                    if (this.ajaxRequest_ != undefined && this.ajaxRequest_.readyState < 4) {
                    return false;
                    }
                    this.ajaxRequest_ =$.ajax( {
                    type : "post",
                    url : "__SELF__",
                    data : {
                        Customer : $( '#sx_name' ).val( ),
                        CustomerName : $( '#sx_zsxm' ). val( ),
                        Email : $( '#email' ).val( ),
                        Phone : $( '#sx_tel' ).val( ),
                        Fax : $( '#sx_Fax' ).val( ),
                        Rate : $( '#sx_rate' ).val( ),
						AddressNum : $("#provinces").val()+'|'+$("#citys").val()+'|'+$("#countys").val(),
						DwellAddress : $("#provinces  option:selected").text()+$("#citys  option:selected").text()+$("#countys  option:selected").text()+'-'+$("#sx_address").val()

                    },
                    success : function ( data ){
//                                            console.log( data );
                        alert( data.Description );
                    },
                    error : function (){
                        alert( 'ajax error!' );
                    }

                } )

            },
            invalidHandler: function ( form ){
//                console.log( "ok1" );
            }
        } );
    } )
</script> 
  <script language="Javascript">
    $( function ( ){
        $( ".click_pass" ).click( function ( ){
            var x = 1000000;
            var y = 1;
            var random = String.fromCharCode( Math.floor(
                Math.random( ) * 26 ) + "a".charCodeAt( 0 ) ).
                toUpperCase( ) + parseInt( Math.random( ) * ( x - y +
                1 ) + y ) + String.fromCharCode( Math.floor(
                Math.random( ) * 26 ) + "a".charCodeAt( 0 ) );
            $( ".random_pass" ).val( random );
        } );
    } )
</script> 

	<script type="text/javascript">  

		$(document).ready(function() {  
			//  加载所有的省份  
			$.ajax({  
				type : "post",
				url: "__APP__/Lian/GetAddress", // type=1表示查询省份  
				data: {"type": "1"},  
				success: function(data) {  
					$("#provinces").html("<option value=''>请选择省份</option>");  
					$.each(data, function(i, item) {  
						$("#provinces").append("<option value='" + item.region_id + "'>" + item.region_name + "</option>");  
					}); 
				$("#provinces").val(<{$data.Province}>);
			

				}  
			});  

			$("#provinces").change(function() {  

				$.ajax({  
					type : "post",
					url: "__APP__/Lian/GetAddress", // type =2表示查询市  
					data: {"parent_id": $(this).val(), "type": "2"},  
					success: function(data) {  
						$("#citys").empty();  
						$("#citys").html("<option value=''>请选择市</option>");
						$("#countys").html("<option value=''>请选择区</option>");  
						$.each(data, function(i, item) {  
							$("#citys").append("<option value='" + item.region_id + "'>" + item.region_name + "</option>");  
						});  
					}  
				});  
			});  

			$("#citys").change(function() {  
				$.ajax({  
					type : "post",
					url: "__APP__/Lian/GetAddress", // type =2表示查询市  
					data: {"parent_id": $(this).val(), "type": "3"},  
					success: function(data) {  
						$("#countys").html("<option value=''>请选择区</option>");  
						$.each(data, function(i, item) {  
							$("#countys").append("<option value='" + item.region_id + "'>" + item.region_name + "</option>");  
						});  
					}  
				}); 
			$("#countys").change(function() { 
				
//			alert($("#countys").val());
////					alert($(this).val());
//			console.log($("#citys  option:selected").text()+"-"+$("#countys").val());
			
			
			});

			});  
		});  
	</script>  

  <include file="Base:footer" />
 </body>
</html>